@import url('https://fonts.googleapis.com/css?family=Poppins');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    background-size: cover;
}

.cv {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 25px;
    width: 1000px;
    height: 95vh;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

#pdfButton {
    background-color: lightblue;
    border: none;
    box-shadow: 2px 1px 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

#pdfButton:hover {
    transform: scale(1.01);
}

#pdfButton:active {
    transform: scale(0.95);
}

@media (max-width: 900px) {
    .cv {
      width: 90%;
      height: 100%;
    }
}

@media (max-width: 480px) {
    #pdfButton {
      font-size: 1.5rem;
    }
  }

@media (min-width: 901px) and (max-width: 1200px) {
    .cv {
      width: 70%; 
    }
  }