.experience {
    padding-left: 30px;
    width: 80%;
    height: 100%;
}

.experience h4 {
    margin-top: 20px;
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 5px;
}

.experience p {
    margin-bottom: 5px;
}

.job, .course {
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

#DescriptionInput {
    font-weight: 400;
    font-size: 1em;
    width: 85%;
    height: 200px;
}


.description p {
    text-align: justify;
}