.personal {
    padding: 15px;
    background-color: #d9d9d9;
    text-align: center;
}

.personal h3 {
    margin-top: 5px;
    text-align: center;
    text-decoration: underline;
}

.personal h4 {
    margin-top: 30px;
}

.personal p {
    white-space:normal;
    word-break: break-all;
}

@media (max-width: 768px) {
    .personal {
      font-size: 0.75rem;
      width: 100%;
      padding: 15px;
    }
  
    .personal h4 {
      margin-top: 15px;
    }
  }

@media (max-width: 1920px) {
    .personal {
      width: 100%; 
    }
  
    .personal h4 {
      margin-top: 15px; 
    }
}